<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siyee.superagentweb">

    <application>

        <!--   FIleProvider    -->
        <provider
            android:name="com.siyee.superagentweb.SuperAgentWebFileProvider"
            android:authorities="${applicationId}.SuperAgentWebFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/web_files_public"/>
        </provider>

        <!-- UtilsTransActivity -->
        <activity
            android:name="com.siyee.superagentweb.utils.UtilsTransActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/SuperAgentWeb_ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

<!--        &lt;!&ndash;  DefaultDownloadImpl DownloadManagerReceiver  &ndash;&gt;-->
<!--        <receiver android:name="com.siyee.superagentweb.impl.DefaultDownloadImpl$DownloadManagerReceiver">-->
<!--            <intent-filter>-->
<!--                &lt;!&ndash; 配置 点击通知 和 下载完成 两个 action &ndash;&gt;-->
<!--                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>-->
<!--                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->

    </application>
</manifest>